# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
*.tfvars

# Secrets / credentials
*.pem
*.key
.env
kubeconfig*
*.crt

# OS / editor junk
.DS_Store
*.swp
node_modules/
dist/
.env
__pycache__/
*.pyc
